
@import url(fontes/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf);

:root {
    --fonte-principal: 'Google Sans Flex', sans-serif;

    /*escuro*/
    --cor-primaria-escura: #253237c5;
    --cor-secundaria-escura: #fee3ff36;
    --cor-terciaria-escura: #9db4c0;
    /*claro*/

    --cor-primaria-clara: #9db4c0;
    --cor-secundaria-clara: #c2dfe3;
    --cor-terciaria-clara: #e0fbfc;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; /* isso aqui está removendo o destaque azul claro que aparece quando eu clico em algum botão ou outros elementos tocaveis/clicaveis em dispositivos com tela touch */
}

body {
    font-family: var(--fonte-principal);
    background-color: #253237f3;;
    color: #333;
    margin-bottom: 80px; /* Espaço para o footer fixo */
}

header {
    background-color: var(--cor-primaria-escura);
    color: rgb(255, 254, 254);
    padding: 10px;
    text-align: left;
    padding-bottom: 1.5rem;
    box-shadow: 3px 3px 10px #0000003f;
}

.logo {
    max-width: 60px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    background-color: none;
}
header h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

header p {
    font-size: clamp(0.4rem, 1rem, 1.5rem);
    color: #ffffffcc;
    margin-bottom: 1rem;
    text-align: center;
}
hgroup {
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;
    margin: auto;
    align-items: center;
    justify-content: center;

}

nav {
    background-color: #fee3ff36;
    padding: 10px;
    border-radius: 20px;
    overflow-x: auto;
    display: flex;
    max-width: 95vw;
    margin: auto;
    scrollbar-width: none;
}

nav button {
    background-color: var(--cor-primaria-escura);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 16px;
}


h3, span, button {
        font-size: clamp(0.8rem, 1.5vh, 1.2rem);
    }

.ativo {
    background-color: #ffffffd3;
    color: #000000;
    font-weight: bold;
    transform: scale(1.02);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 3px #0000003f;
    
}

.ativo:hover {
    transform: scale(1.02);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 3px #fcfcfc3f;
}

#grade-sons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 95vw;
    margin: auto;
    margin-top: 10px;
}

.card {
    gap: 1rem;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--cor-primaria-escura);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    box-shadow: 1px 1px 1px #0000002f;
}

.card-ativo {
    background-color: var(--cor-primaria-clara);
    color: rgb(0, 0, 0);
    transform: scale(1.01);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.02);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 3px #fcfcfc3f;
}

.info {
    flex-grow: 1;
}


.card img {
    flex-shrink: 0;
    min-width: 70px;
    max-width: 70px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: var(--cor-primaria-escura);
    backdrop-filter: blur(10px);
    color: rgb(255, 254, 254);
    padding: 6px 8px;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: fit-content;
    justify-content: center;
    gap: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    max-width: 90vw;
    margin-bottom: 10px;
    border-radius: 50px;
    transform: translateX(-50%) translateY(0);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 3px 5px 10px #0000003f;
}

footer p {
    background-color: #fee3ff36;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    text-wrap: nowrap;
    backdrop-filter: blur(10px);
    font-weight: normal;

}


audio {
    display: none;
}

.play-button {
    background-color: var(--cor-terciaria-escura);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.play-button:active {
    transform: scale(0.90);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.oculto {
    transform: translateX(-50%) translateY(150%);
}

@media screen and (min-width: 600px) {
    header h1 {
        font-size: 4rem;
    }

    #grade-sons {
        max-width: 85vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    header p {
        font-size: 1.5rem;
    }

    .card img {
        max-width: 100px;
    }

    .card {
        font-size: clamp(0.4rem, 2vw, 1.2rem);
    }
    
}

@media screen and (min-width: 900px) {
    nav {
        max-width: 80vw;
    }

    #grade-sons {
        max-width: 85vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    .card img {
        max-width: 100px;
        font-size: clamp(0.4rem, 1vh);
    }
}