@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


:root {
    --fonte-principal: font-family: "Google Sans Flex", sans-serif;

    /*escuro*/
    --cor-primaria-escura: #253237;
    --cor-secundaria-escura: #fee3ff36;
    --cor-terciaria-escura: #9db4c0;
    /*claro*/

    --cor-primaria-clara: #9db4c0;
    --cor-secundaria-clara: #c2dfe3;
    --cor-terciaria-clara: #e0fbfc;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: #253237f3;;
    color: #333;
    margin-bottom: 80px; /* Espaço para o footer fixo */
}

header {
    background-color: var(--cor-primaria-escura);
    color: rgb(255, 254, 254);
    padding: 10px;
    text-align: left;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

hgroup {
    margin-bottom: 15px;
}

nav {
    background-color: #fee3ff36;
    padding: 10px;
    border-radius: 20px;
    overflow-x: auto;
    display: flex;
}

nav button {
    background-color: var(--cor-primaria-escura);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 16px;
}

.ativo {
    background-color: #ffffff; /* Ou a cor de destaque do seu site */
    color: #000000;
    font-weight: bold;
    border: 2px solid #ffffff;
    transform: scale(1.05);
}

#grade-sons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 95vw;
    margin: auto;
    margin-top: 10px;
}

.card {
    gap: 1rem;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--cor-primaria-escura);
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}

.card-ativo {
    background-color: var(--cor-primaria-clara);
    color: rgb(0, 0, 0);
}

.info {
    flex-grow: 1;
}


.card img {
    flex-shrink: 0;
    min-width: 70px;
    max-width: 70px;
    object-fit: cover;
    border-radius: 10px;
}
/*
.capa img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 4px;
}
*/

footer {
    background-color: var(--cor-primaria-escura);
    color: rgb(255, 254, 254);
    padding: 6px 8px;
    text-align: left;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    max-width: 90vw;
    margin-bottom: 10px;
    border-radius: 50px;
}

footer p {
    background-color: #fee3ff36;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    text-wrap: nowrap;
}

audio {
    display: none;
}

.play-button {
    background-color: var(--cor-terciaria-escura);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
